.Todo{
  
    text-align: center;
    margin:5% 20%;
    background-color: blanchedalmond;
    border-radius: 10px;
    height:100vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll
        
    }

    .Todo::-webkit-scrollbar{
        display: none;
    
    }
    
    /* hide scrollbar for it ,edge anf firebase */
    .Todo{
       -ms-overflow-style: none;
        scrollbar-width: none;    
    }
    .form{
        /* background-color: white; */
        width: 75%;
        margin-left: 6rem;
        border-radius: 400px;
    }

   

    
    

